<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        internalLogFile="${basedir}/logs/Log {shortdate}.txt"
        autoReload="true" throwExceptions="true">
    <targets>
        <target type="AzureTableStorageByMonth"
                name="azure"
                ConnectionString="DefaultEndpointsProtocol=https;AccountName=xxxxx;AccountKey=yyyyyy;EndpointSuffix=core.windows.net"
                TableName="TestLogs" />
     </targets>
     <rules>
        <logger name="*" minlevel="Trace" writeTo="azure" />
     </rules>
</nlog>